<br>
<form action="/users/create" method="POST">
    <div>
        <label for="name">Name &ensp;&ensp;</label>
        <input type="text" placeholder="Name" id="name" name="name" required>
    </div>
    <br>
    <div>
        <label for="email">Email &ensp;&ensp;</label>
        <input type="email" placeholder="Email" id="email" name="email" required>
    </div>
    <br>
    <div>
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" required>
    </div>
    <br>
    <div>
        <label for="confirm_password">Password</label>
        <input type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password" required>
    </div>
    <br>
    <div>
        <input type="submit" value="Sign Up">
    </div>
</form>
<br>
